<div class="container">
  <h1>ngx-scanner-qrcode</h1>

  <ngx-scanner-qrcode
    #action="scanner"
    [config]="config"
    (event)="onEvent($event)"
    (error)="onError($event)"
    [style]="{ width: '500px', height: '500px', background: '#000' }"
  ></ngx-scanner-qrcode>

  <p class="data">{{ (action.data | async)?.data }}</p>

  <p *ngIf="action.isLoading">⌛ Loading...</p>

  <button
    class="btn"
    [class.btn-info]="!action.isStart"
    [class.btn-warning]="action.isStart"
    [disabled]="action.isLoading"
  >
    <img
      *ngIf="!action.isStart"
      (click)="handle(action, 'start')"
      src="https://img.icons8.com/ios/50/000000/no-camera--v2.png"
      width="30px"
    />
    <img
      *ngIf="action.isStart"
      (click)="handle(action, 'stop')"
      src="https://img.icons8.com/ios/50/000000/no-camera--v1.png"
      width="30px"
    />
  </button>

  <br />
</div>
